section {
  font-size: 18px;
  margin: 3rem 0;
}
.article-header {
  margin-top: 20px;
  text-align: center;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.article-body {
  margin: 20px 0;
}
main img {
  /* max-width: 50%; */
  max-width: 100%;
  height: auto;
  display: block;
  /* margin: 0 auto; */
}
.img-subtitle {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
  font-size: 14px;
  text-align: start;
  /* margin: 0 auto; */
  /* display: block; */
  /* max-width: 50%; */
}
