<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastrar - Desempregados</title>
    <link
      rel="icon"
      href="https://contmoura.com.br/wp-content/uploads/2020/04/carteira-de-trabalho-png-6.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <style>
      body {
        background-image: url("https://img.freepik.com/premium-photo/portrait-cheerful-young-man-smiling-while-looking-camera-throwing-up-his-hands-sides-from-ignorance-white-background-with-place-advertising-mockup_324489-4416.jpg?w=2000");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
      }
    </style>
  </head>

  <body class="bg-dark">
    <div
      class="container d-flex justify-content-center"
      style="margin-top: 15vh"
    >
      <div class="bg-light border rounded px-4 pt-3 pb-4">
        <h1 class="mb-3">Cadastrar</h1>
        <div id="buttons-row" class="row px-3 py-4 mb-3 justify-content-center">
          <button
            type=""
            class="option-btn d-flex col-12 col-md-5 btn btn-outline-dark border rounded justify-content-center align-items-center px-3 py-1 me-md-3 mb-3 mb-md-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-buildings"
              viewBox="0 0 16 16"
            >
              <path
                d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"
              />
              <path
                d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"
              />
            </svg>
            <span class="ms-2 px-1 fs-5">Empresa</span>
          </button>
          <button
            type=""
            class="option-btn d-flex col-12 col-md-5 btn btn-outline-secondary border rounded justify-content-center align-items-center px-2 py-1 ms-md-3"
          >
            <svg
              style="height: 35px; width: 60px"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              width="100%"
              viewBox="0 0 1024 1024"
              enable-background="new 0 0 1024 1024"
              xml:space="preserve"
            >
              <path
                fill="#000000"
                opacity="1.000000"
                stroke="none"
                d="
M190.999878,911.419678 
  C176.506989,911.575378 162.514404,911.770203 148.521133,911.871033 
  C140.232559,911.930786 140.126663,911.674011 142.074631,903.882507 
  C155.025024,852.083130 168.107132,800.315674 180.755829,748.442627 
  C183.546112,736.999573 184.588623,725.135376 189.495056,714.223755 
  C196.806900,697.962585 206.968094,684.121643 221.907074,673.880798 
  C254.190506,651.750183 288.329163,633.124451 324.623566,618.465942 
  C326.267151,617.802185 327.817963,616.576416 330.828247,617.435608 
  C324.136505,652.215027 317.425507,687.050964 310.732941,721.890442 
  C304.025116,756.809570 297.335632,791.732178 290.701660,826.321838 
  C292.773193,828.245300 294.701355,827.665100 296.451813,827.666138 
  C359.609680,827.703796 422.767731,827.654175 485.925262,827.804382 
  C490.658173,827.815674 491.823761,826.258545 491.779205,821.776184 
  C491.575439,801.280945 491.560699,780.781494 491.764954,760.286316 
  C491.821442,754.617126 489.179016,749.987000 487.160797,745.152161 
  C466.312164,695.206726 445.312469,645.324341 424.352234,595.425537 
  C421.846588,589.460510 421.818481,589.353821 428.229034,588.121338 
  C463.023895,581.432007 498.127472,578.350037 533.543701,579.984741 
  C555.670715,581.006104 577.628540,583.817749 599.408630,587.905945 
  C600.687439,588.145996 601.913513,588.666870 603.007141,589.008118 
  C604.072571,591.039978 602.889709,592.466675 602.274414,593.934692 
  C580.322876,646.311218 558.359131,698.682739 536.357239,751.038147 
  C534.980713,754.313599 534.236816,757.587524 534.254333,761.183533 
  C534.353455,781.513550 534.424255,801.845581 534.201050,822.173706 
  C534.151794,826.663635 535.629639,827.790405 539.934570,827.782410 
  C603.258911,827.664612 666.583557,827.706238 729.908081,827.695435 
  C736.036255,827.694397 736.105835,827.587280 734.895996,821.391663 
  C725.909546,775.371216 716.903137,729.354553 707.923523,683.332703 
  C703.911072,662.768188 699.932190,642.197021 695.983826,621.620178 
  C695.650146,619.881287 695.022278,618.064087 695.986633,616.321472 
  C697.464111,615.757019 698.665527,616.544067 699.873291,616.987000 
  C739.599365,631.555542 776.165405,651.803772 809.584900,677.785645 
  C827.081360,691.388245 836.301147,709.958679 841.110474,730.844238 
  C852.796936,781.596008 866.266113,831.902100 878.493835,882.516479 
  C880.369019,890.278442 882.382874,898.006958 884.251526,905.770386 
  C884.626160,907.326416 885.587708,908.902710 884.611145,910.625305 
  C882.995911,911.775879 881.104980,911.394836 879.312073,911.395569 
  C834.984924,911.413269 790.657715,911.409790 746.330566,911.394104 
  C739.764771,911.391785 739.743225,911.354675 739.725708,904.672546 
  C739.699951,894.840637 739.586853,885.006470 739.765442,875.177856 
  C739.832458,871.489868 738.562317,870.247131 734.859619,870.251587 
  C669.702087,870.329956 604.544373,870.330627 539.386902,870.240540 
  C535.482788,870.235168 534.133728,871.485718 534.215515,875.424072 
  C534.433411,885.918152 534.204834,896.420837 534.349548,906.917419 
  C534.396851,910.348938 533.267273,911.580505 529.724426,911.511414 
  C518.896484,911.300110 508.057709,911.224915 497.232635,911.487427 
  C492.681213,911.597717 491.540497,909.812073 491.631256,905.608215 
  C491.850616,895.447876 491.570435,885.277100 491.752930,875.115234 
  C491.820343,871.359741 490.410858,870.242981 486.779572,870.247559 
  C421.788696,870.329834 356.797607,870.350037 291.806824,870.246887 
  C287.288910,870.239746 286.120697,871.952576 286.216736,876.166992 
  C286.448364,886.326904 286.180634,896.497498 286.343323,906.660095 
  C286.401428,910.291016 285.299683,911.564697 281.473755,911.543884 
  C251.483139,911.380981 221.491318,911.433350 190.999878,911.419678 
z"
              />
              <path
                fill="#000000"
                opacity="1.000000"
                stroke="none"
                d="
M323.347656,295.281921 
  C328.998505,290.684387 335.311462,289.597443 341.964630,289.980438 
  C345.686920,290.194702 347.612274,289.344818 348.055115,284.972046 
  C350.309662,262.709839 356.563324,241.593918 367.309113,221.894089 
  C382.446991,194.142365 403.794098,172.458847 431.184570,156.710587 
  C432.173309,156.142120 433.272003,155.764954 434.309631,155.303024 
  C436.894867,156.995712 436.646088,159.764603 437.217316,162.056305 
  C442.005920,181.266541 446.634430,200.516663 451.410828,219.730011 
  C452.788605,225.272263 456.362091,227.898636 461.865540,227.887344 
  C466.529938,227.877762 469.823853,225.101410 471.230591,220.391449 
  C471.969269,217.918289 471.036407,215.764404 470.481506,213.555984 
  C464.887146,191.291580 459.778229,168.882553 453.348846,146.859848 
  C449.965424,135.270523 454.724823,127.808884 462.548706,121.160652 
  C467.561035,116.901512 473.683380,114.584801 480.498901,114.596199 
  C502.160583,114.632446 523.822510,114.557907 545.484009,114.634697 
  C555.141602,114.668930 562.783203,119.055931 568.732666,126.413429 
  C573.353210,132.127441 575.015320,138.196365 572.916931,145.877548 
  C566.602356,168.991348 560.965759,192.292053 555.207397,215.555191 
  C553.143738,223.891876 559.526306,229.939621 567.607666,227.460587 
  C571.621460,226.229324 573.737854,223.207748 574.751526,219.180237 
  C579.663391,199.663834 584.655884,180.167709 589.612061,160.662415 
  C590.057068,158.910995 590.221069,157.051865 591.559814,155.750977 
  C593.128052,155.324585 594.247192,156.136261 595.382080,156.810211 
  C641.459045,184.173309 668.904419,224.210846 677.469055,277.189270 
  C678.076172,280.944855 677.096802,285.313599 679.378052,288.349762 
  C681.978455,291.810486 686.557800,289.600647 690.222961,290.152161 
  C702.318115,291.972290 710.937561,301.552917 710.009277,312.561432 
  C708.993042,324.612732 699.630493,332.460327 686.869202,332.490753 
  C648.715820,332.581726 610.562561,332.453918 572.408142,332.649658 
  C546.094604,332.784668 519.763306,332.432312 493.441162,332.445160 
  C443.300446,332.469666 393.159943,332.752136 343.019196,332.857605 
  C339.373962,332.865265 335.615936,332.774597 332.100739,331.933777 
  C315.682190,328.006622 310.836456,308.180542 323.347656,295.281921 
z"
              />
              <path
                fill="#000000"
                opacity="1.000000"
                stroke="none"
                d="
M675.743225,408.498779 
  C661.129333,475.712250 606.897095,526.756836 539.066589,537.441101 
  C448.310455,551.736511 362.842072,489.025909 349.542572,398.516754 
  C348.107697,388.751770 347.528381,378.999359 347.653473,369.165039 
  C347.735840,362.686157 347.703156,362.665039 354.413513,362.664673 
  C430.562653,362.660522 506.711823,362.664398 582.860962,362.663361 
  C612.854065,362.662964 642.847717,362.750946 672.839600,362.555420 
  C677.704590,362.523743 679.488037,363.673279 679.478455,368.905212 
  C679.454346,382.105133 678.479370,395.159302 675.743225,408.498779 
z"
              />
            </svg>
            <span class="ms-1 fs-5">Funcionário</span>
          </button>
        </div>
        <a href="/login" class="text-decoration-none ms-1">Voltar ao login</a>

        <!-- ---------------------------------------------------------- -->

        <form action="" id="company-form" style="display: none"></form>

        <form
          action="controller/cadastrar-usuario.php"
          method="POST"
          id="employee-form"
          style="display: none"
        >
          <div class="input-group">
            <div class="input-group-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-person-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                />
              </svg>
            </div>
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="form-control"
            />
          </div>

          <div class="input-group mt-2">
            <div class="input-group-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-envelope-at-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"
                />
                <path
                  d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"
                />
              </svg>
            </div>
            <input
              type="email"
              name="email"
              placeholder="E-mail"
              class="form-control"
            />
          </div>

          <div class="input-group mt-2">
            <div class="input-group-text">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-lock-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"
                />
              </svg>
            </div>
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control"
            />
          </div>

          <div class="row mt-3">
            <a href=""
              ><button type="submit" class="btn btn-outline-dark col-12">
                Criar conta
              </button></a
            >
          </div>

          <!-- criar botão de voltar (seleção de empresa ou funcionário) -->
        </form>
      </div>
    </div>

    <script>
      const btn = document.getElementsByClassName("option-btn")[0];
      const btn2 = document.getElementsByClassName("option-btn")[1];
      const row = document.getElementById("buttons-row");
      const form1 = document.querySelector("#employee-form");

      btn.addEventListener("click", (e) => {
        e.preventDefault();
        row.style.display = "none";
        form1.style.display = "block";
        console.log(`button 1 has been clicked!`);
      });

      btn2.addEventListener("click", (e) => {
        e.preventDefault();
        // console.log(`${btn2} has been clicked!`);
      });
    </script>
  </body>
</html>
