<footer
  class="footer bg-dark d-flex align-items-center justify-content-center py-5 py-lg-0 pt-lg-4 pb-lg-5"
>
  <div
    class="container border-top w-100 pt-3 col-md-4 row align-items-center flex-wrap justify-content-between"
  >
    <span class="mb-3 mb-md-0 text-secondary col-12 col-sm-auto"
      >© 2024 Desempregados, Inc</span
    >

    <ul
      class="nav justify-content-center mb-3 mb-md-0 ps-3 p-sm-0 col-12 col-sm-auto"
    >
      <% for (link of pages) { %>
      <li class="nav-item col-12 col-sm-auto">
        <% if (link === "index") { %>
        <a href="/" class="px-2 py-1 d-flex col-12">Home</a>
        <% } else { %>
        <a href="/<%= link.toLowerCase() %>" class="px-2 py-1 d-flex col-12"
          ><%= link[0].toUpperCase() + link.substring(1).replace(/-/g, ' ')
          %></a
        >
        <% } %>
      </li>
      <% } %>
    </ul>

    <ul class="nav justify-content-sm-end d-flex col-12 col-sm-auto">
      <li class="nav-item">
        <a href="">
          <img src="/img/footer/instagram_white.png" alt="instagram"
        /></a>
      </li>
      <li class="nav-item">
        <a href="">
          <img src="/img/footer/facebook_white.png" alt="facebook"
        /></a>
      </li>
      <li class="nav-item">
        <a href=""> <img src="/img/footer/x_white.png" alt="twitter" /></a>
      </li>
    </ul>
  </div>
</footer>
