<header id="header-navbar" class="sticky-top">
  <nav class="navbar navbar-expand-lg py-4 h-100">
    <div class="container">
      <a class="navbar-brand" href="/"
        ><img
          src="/img/carteira-trabalho.png"
          alt="carteira de trabalho"
          class="img-fluid me-1"
          style="max-height: 1rem"
        />desempregados.com</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex justify-content-around w-100">
          <li class="nav-item">
            <a href="/vagas" class="nav-link text-center">Vagas</a>
          </li>
          <li class="nav-item">
            <a href="/empresas" class="nav-link text-center">Empresas</a>
          </li>
          <li class="nav-item">
            <a href="/carreiras" class="nav-link text-center">Carreiras</a>
          </li>
          <li class="nav-item">
            <a href="/candidatos" class="nav-link text-center">Candidatos</a>
          </li>
          <!-- <li class="nav-item">
            <a href="/contato" class="nav-link text-center">Contato</a>
          </li> -->
          <li class="nav-item">
            <a href="/sobre" class="nav-link text-center">Sobre</a>
          </li>
        </ul>
        <div class="d-flex">
          <% if(!currentUser) { %>
          <span class="ms-lg-4 py-1"
            ><a href="/login" class="btn btn-outline-secondary">Login</a>
          </span>
          <span class="ms-lg-1 py-1"
            ><a href="/cadastro" class="btn btn-outline-secondary">Cadastrar</a>
          </span>
          <% } else { %>
          <span class="ms-lg-1 py-1"
            ><form action="/api/users/logout" method="POST">
              <button class="btn btn-outline-secondary"
                >Logout</a
              >
            </form>
          </span>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>
