html,
body {
  background: rgb(194, 204, 213);
  height: 100%;
}

nav {
  font-size: 18px;
  background: rgb(118, 197, 243);
}

.navbar-brand,
.nav-link {
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  opacity: 0.75;
}

/* .nav-link {
  padding: 0px;
  transition: opacity 0.3s ease-in-out;
} */

.nav-link:hover {
  opacity: 0.5;
}

main {
  min-height: 85.5vh;
}

footer {
  bottom: 0;
  width: 100%;
  padding-top: 80px;
  margin-top: 24px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

footer a:hover {
  opacity: 0.3;
}

footer img {
  height: 30px;
  width: 28px;
  margin: 0px 5px;
}

@media (min-width: 992px) {
  nav ul {
    width: 65%;
  }
}

h1 {
  font-family: Bebas Neue;
}

h1,
h2 {
  color: rgb(65, 62, 62);
}

#search-button {
  margin: 0px;
  transition: all 0.4s ease;
}

#search-button:hover {
  opacity: 0.75;
  border: solid 1px rgb(219, 210, 210);
}

#sec-1 {
  background-image: url("https://media.istockphoto.com/id/1287455184/photo/banner-panorama-portrait-of-young-smiling-cheerful-businessman-manager-entrepreneur-with.jpg?s=612x612&w=0&k=20&c=cNzthtNrHtc4tjEDAd6jEOlGlQpAPC1-ar1FKX-bXF0=");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 75px 0px;
  height: 50vh;
}

#sec-2 {
  background: rgb(194, 204, 213);
  padding: 35px 0 5px 0;
}

.sec-2-cont {
  margin-bottom: 12px;
}
.sec-2-cont ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1400px) {
  #welcome-message {
    font-size: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  #welcome-message {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  #welcome-message {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  #sec-2 {
    font-size: 18px;
  }
}
