html,
body {
  height: 100vh;
  margin: 0;
}

/* NAVBAR */
.navbar-brand {
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  opacity: 0.75;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

footer a:hover {
  opacity: 0.3;
}

footer img {
  height: 30px;
  width: 30px;
  margin: 0px 5px;
}
