/* html, */
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  /* min-height: 100vh; */
  /* min-height: calc(100vh - 90px); */
}

/* NAVBAR */
#header-navbar {
  transition: all 0.3s ease;
}

nav {
  background: rgb(207, 213, 219);
}

.navbar-brand,
.nav-link {
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 0.5;
}

/* MAIN */
main {
  /* flex: 1; */
  min-height: calc(100vh - 88px);
}

/* FOOTER */
.footer {
  /* position: relative;
  left: 0;
  bottom: 0; */
  width: 100%;
  margin-top: auto;
}

footer a {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

footer a:hover {
  opacity: 0.3;
}

footer img {
  height: 30px;
  width: 28px;
  margin: 0px 5px;
}
