<%- layout("../layouts/boilerplate") %>
<style>
  section {
    font-size: 18px;
    margin: 3rem 0;
  }
  .article-header {
    margin-top: 20px;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
  }
  .article-body {
    margin: 20px 0;
  }
  main img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .img-subtitle {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-secondary-rgb), var(--bs-text-opacity)) !important;
    font-size: 14px;
    text-align: start;
  }
</style>

<main class="container py-5">
  <header class="article-header">
    <h1>A Carreira de um Engenheiro</h1>
    <p class="text-muted">
      Explorando a jornada e responsabilidades da carreira de engenharia
    </p>
    <img
      src="https://i2.wp.com/www.servicoemdestaque.com.br/wp-content/uploads/2022/07/engenheiro-civil.jpg?fit=1313%2C553&ssl=1"
      alt="engineer"
    />
    <p class="img-subtitle">
      Engenharia: uma profissão que combina criatividade, conhecimento técnico e
      inovação para resolver problemas complexos e criar soluções para o mundo
      moderno.
    </p>
  </header>
  <article class="article-body">
    <section>
      <h2>Introdução</h2>
      <p>
        A carreira de engenharia é uma das profissões mais versáteis e
        impactantes, abrangendo uma variedade de disciplinas que vão desde
        engenharia civil e mecânica até elétrica, química e de software. Os
        engenheiros desempenham um papel crucial no desenvolvimento e avanço da
        sociedade, projetando e construindo infraestruturas, desenvolvendo
        tecnologias inovadoras e enfrentando desafios complexos em todos os
        setores da economia. Este artigo explora os diversos aspectos da
        carreira de engenharia, desde a educação e treinamento necessários até
        as responsabilidades diárias e as oportunidades de carreira disponíveis
        para esses profissionais altamente qualificados.
      </p>
    </section>
    <section>
      <h2>Educação e Treinamento</h2>
      <div class="row">
        <div class="col-lg-6 col-xl-8">
          <p>
            Tornar-se um engenheiro envolve uma educação e treinamento
            significativos em uma disciplina específica da engenharia. Isso
            normalmente começa com a obtenção de um diploma de bacharel em
            engenharia, seguido por experiência prática e, em alguns casos,
            especializações adicionais ou certificações.
          </p>
          <ul>
            <li>
              <strong>Graduação em Engenharia:</strong> Um curso universitário
              de quatro a cinco anos, que abrange princípios fundamentais da
              engenharia, como matemática, física, química e ciência da
              computação.
            </li>
            <li>
              <strong>Experiência Prática:</strong> Muitos engenheiros optam por
              ganhar experiência prática por meio de estágios ou programas de
              co-op durante seus estudos ou após a graduação, trabalhando em
              projetos reais e colaborando com profissionais da área.
            </li>
            <li>
              <strong>Especializações e Certificações:</strong> Alguns
              engenheiros escolhem prosseguir estudos avançados ou obter
              certificações profissionais em áreas específicas da engenharia,
              como engenharia estrutural, ambiental, de software ou de sistemas.
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-xl-4 d-flex flex-column">
          <img
            class="m-0 img-fluid"
            src="https://p2.trrsf.com/image/fget/cf/1200/900/middle/images.terra.com/2023/06/15/quanto-ganha-um-engenheiro-civil-u7zoc1mi5hyp.jpg"
            alt="engineer"
          />
          <p class="img-subtitle m-0 mw-100">
            Engenheiros são visionários e solucionadores de problemas,
            utilizando sua expertise técnica para projetar e construir o mundo
            de amanhã.
          </p>
        </div>
      </div>
    </section>
    <section>
      <h2>Responsabilidades Diárias</h2>
      <p>
        As responsabilidades diárias de um engenheiro variam dependendo da
        especialização e do setor em que trabalham. No entanto, geralmente
        incluem o desenvolvimento de projetos, análise de dados, colaboração com
        equipes multidisciplinares, e a garantia de que os projetos atendam aos
        requisitos técnicos e de segurança.
      </p>
      <p>
        Além disso, os engenheiros também podem ser responsáveis por
        supervisionar a construção e implementação de projetos, realizar testes
        e ensaios de materiais, e fornecer suporte técnico durante todas as
        fases do ciclo de vida do projeto. Em última análise, as
        responsabilidades diárias de um engenheiro são fundamentais para
        garantir o sucesso e a integridade dos projetos em que estão envolvidos.
      </p>
    </section>
    <section>
      <h2>Desafios e Recompensas</h2>
      <p>
        A profissão de engenheiro vem com uma série de desafios, incluindo a
        necessidade de manter-se atualizado com os avanços tecnológicos,
        enfrentar prazos apertados e lidar com demandas e expectativas dos
        clientes. No entanto, também oferece uma série de recompensas, incluindo
        a oportunidade de criar soluções inovadoras, impactar positivamente o
        mundo ao nosso redor, e desfrutar de uma carreira estável e bem
        remunerada.
      </p>
      <p>
        Além disso, os engenheiros têm a satisfação de ver seus projetos
        ganharem vida, contribuindo para o progresso da sociedade e deixando um
        legado duradouro para as gerações futuras. Ao enfrentar desafios
        complexos e encontrar soluções criativaspara problemas difíceis, os
        engenheiros desenvolvem habilidades de resolução de problemas que são
        valorizadas em uma variedade de setores e indústrias.
      </p>
      <div class="d-flex flex-column align-items-center">
        <img
          class="col-lg-6"
          src="https://www.squadrapvc.com.br/img/noticias/4434c19262b0d89fc6bc6ff4ae29419a.jpg"
          alt="engineer"
        />
        <p class="img-subtitle col-lg-6">
          Engenheiros, impulsionando a inovação e a sustentabilidade, projetam e
          constroem o futuro em que vivemos.
        </p>
      </div>
    </section>
    <section>
      <h2>Conclusão</h2>
      <p>
        Em resumo, a carreira de engenharia oferece uma ampla gama de
        oportunidades e desafios para aqueles que têm paixão por criar, inovar e
        resolver problemas complexos. Desde a concepção de infraestruturas
        críticas até o desenvolvimento de tecnologias de ponta, os engenheiros
        desempenham um papel fundamental em todos os aspectos da sociedade
        moderna. Com educação, experiência e um compromisso incansável com a
        excelência profissional, os engenheiros moldam o mundo em que vivemos e
        ajudam a criar um futuro mais seguro, sustentável e próspero para todos.
      </p>
    </section>
  </article>
  <div class="text-center">
    <a href="/" class="btn btn-primary me-2"
      ><i class="bi bi-house me-2"></i>Início</a
    >
    <a href="/carreiras" class="btn btn-dark"
      ><i class="bi bi-suitcase-lg me-2"></i>Carreiras</a
    >
  </div>
</main>
