<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Desempregados.com</title>
  </head>
  <body>
    <%- include('../components/navbar') %>
    <div class="container mt-4">
      <h1>Welcome</h1>
    </div>

    <script src="/bootstrap/bootstrap.bundle.js"></script>
  </body>
</html>
