<%- layout('../layouts/boilerplate.ejs') %>

<main>
  <div class="container">
    <h1 id="welcome-message" class="col-10">Bem-vindo, desempregado!</h1>
    <br />
    <p class="col-9 col-lg-8 fs-2 fw-semibold">Como podemos te ajudar hoje?</p>
    <form action="" class="mt-3 col-11">
      <div class="input-group w-75">
        <input
          type="search"
          placeholder="Busque seu novo trampo aqui"
          class="form-control"
          style="height: 50px"
        />
        <button type="submit" id="search-button" class="input-group-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </div>
    </form>
  </div>
</main>

<section id="sec-2" class="container">
  <h2 class="m-0">Oportunidades surgindo a todo momento</h2>
  <p class="fs-5">Confira o que está bombando no mundo corporativo!</p>
  <br />
  <div class="row">
    <div class="sec-2-cont col-12 col-md-6">
      <h3 class="ps-xl-4">Aberto recentemente 🆕</h3>
      <ul class="p-xl-0">
        <% for(let i=0; i<5; i++) { %>
        <li>lorem palmeiras não tem mundial, bi rebaixado não tem mundial</li>
        <% } %>
      </ul>
    </div>
    <div class="sec-2-cont col-12 col-md-6">
      <h3 class="ps-xl-4">Em alta 🔥</h3>
      <ul class="p-xl-0">
        <% for(let i=0; i<5; i++) { %>
        <li>lorem palmeiras não tem mundial, bi rebaixado não tem mundial</li>
        <% } %>
      </ul>
    </div>
    <a href="/vagas"
      ><button class="btn btn-outline-dark w-100">
        Conferir todas as vagas
      </button></a
    >
  </div>
</section>

<section id="companies-section" class="sec-large">
  <div class="container d-flex justify-content-end h-100">
    <div class="w-50 d-flex flex-column justify-content-between">
      <div id="companies-sec-head">
        <h2 id="companies-sec-title" class="sec-title-large">
          Excelentes empresas querem talentos como você
        </h2>
        <p
          id="companies-sec-subtitle"
          class="fs-4 text-light mb-5 sec-subtitle-large"
        >
          Vai ficar de fora dessa?
        </p>
      </div>
      <a href="/empresas" class="btn btn-dark w-100 py-3 fs-5"
        >Quero meu trabalho dos sonhos</a
      >
    </div>
  </div>
</section>

<section id="" class="container">
  <h2>Encontre a carreira perfeita para você</h2>
  <p class="fs-5">
    Milhares de ofertas surgindo a todo momento. Não fique de fora dessa!
  </p>
  <br />
  <div class="row justify-content-center">
    <a
      href="/carreiras/medicos"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="https://static6.depositphotos.com/1085342/582/i/950/depositphotos_5821681-stock-photo-crazy-doctor-nerd.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Médico</span
      >
    </a>
    <a
      href="/carreiras/engenheiros"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="/img/home/engineer.jpeg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Engenheiro</span
      >
    </a>
    <a
      href="/carreiras/artistas"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="https://pm1.aminoapps.com/8046/24b3023a7091560f09043acf7ca8ca01e7944bb8r1-684-684v2_hq.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Artista</span
      >
    </a>
    <a
      href="/carreiras/cozinheiros"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="/img/home/marijuana.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Cozinheiro</span
      >
    </a>

    <a
      href="/carreiras/jogadores"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="https://conteudo.imguol.com.br/c/esporte/74/2022/12/18/neymar-da-selecao-brasileira-em-jogo-contra-a-croacia-pela-copa-do-mundo-1671405312342_v2_3x4.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Jogador</span
      >
    </a>
    <a
      href="/carreiras/advogados"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfHruW7G5_zxN28nJDZHJ4Sam_yDjyZkYc54fPf_0eUw&s"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Advogado</span
      >
    </a>
    <a
      href="/carreiras/programadores"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="https://psalm.escreveronline.com.br/wp-content/uploads/2014/12/bigstock-Shocked-Computer-Nerd-1520709.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Programador</span
      >
    </a>
    <a
      href="/carreiras/garcons"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0"
    >
      <img
        src="/img/home/waiter.jpg"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >Garçom</span
      >
    </a>
    <a
      href="/carreiras"
      class="card col-5 col-md-3 col-lg-2 mx-3 mx-md-4 mb-4 d-flex flex-column p-0 justify-content-end"
    >
      <img
        src="/img/home/office.png"
        alt=""
        class="img-fluid h-100"
        style="max-height: 15rem"
      />
      <span class="card-title border-top py-3 m-0 text-center fw-semibold"
        >E muito mais!</span
      >
    </a>
  </div>
</section>

<section id="sec-3" class="sec-large mb-0">
  <div class="container d-flex justify-content-end h-100">
    <div class="w-50 d-flex flex-column justify-content-between">
      <div id="sec-3-head">
        <h2 id="sec-3-title" class="m-0 sec-title-large">
          O funcionário perfeito está esperando por você
        </h2>
        <p id="sec-3-subtitle" class="fs-4 text-light mb-5 sec-subtitle-large">
          Desempregados talentosos estão sonhando com esta oportunidade.
          Contrate já!
        </p>
      </div>
      <a href="/candidatos" class="btn btn-dark w-100 py-3 fs-5"
        >Quero encontrar talentos</a
      >
    </div>
  </div>
</section>
